/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$Heyyyy: #936F4B;
$BlueLagoon: #6C7F85;
$Fern: #676653;
$PaleSage: #C2C2B6;
$BrowGrass: #CEA074;
$DeepWaters: #3E4E53;
$TA-DA: #A7A58D;
$MustySky: #828278;

