#about-us{

    img{
        width: 321px;
 
        @include md{
            width: 373px;
        }
        
        @include lg{
            width: 503px;
        }
 
        @include xl{
            width: 711px;
        }
     }

     h1{
        margin-left: 114px;
        color: $BrowGrass;
        font-family: 'Roboto', sans-serif;
        font-size: 300px;

        @include md{
            margin-right: 9px;
            margin-left: 387px;
        }

        @include lg{
            margin-right: 118px;
            margin-left: 521px;
        }
        @include xl{
            margin-left: 720px;
            margin-right: 325px;
        }
    }

    p{
        margin: 16px;
        width: 291px;
        background: $BlueLagoon;
        padding: 20px;
        color: white; 
        font-family: 'Lora', serif;
        
        @include md{
          margin-left: 293px;
          margin-right: 226px;  
        }
  
          @include lg{
              margin-left: 471px;
              margin-right: 305px;
          }
  
          @include xl{
              margin-left: 674px;
              margin-right: 510px;
          }
    }

    h4{
        margin: 16px;
        width: 291px;
        color: $BrowGrass;
        font-family: 'Lora', serif;
        @include md{
          margin-left: 293px;
          margin-right: 226px;  
        }
  
          @include lg{
              margin-left: 471px;
              margin-right: 305px;
          }
  
          @include xl{
              margin-left: 674px;
              margin-right: 510px;
          }
    }
}