#featured-work{
    
    h1{
        color: $BrowGrass;
        text-align: center;
        margin-top: 105px;
        font-family: 'Roboto', sans-serif;
    }
    ul{
        list-style-type: none;
        text-decoration: none;
        margin-left: 16px;
        margin-right: 16px;
        background: $BlueLagoon;
        padding: 20px;
        width: 315px;
        column-count: 3;
        color: white;
        font-family: 'Lora', serif;

        @include md{
            width: 677px;
            margin-left: 46px;
            margin-right: 46px;
        }

        @include lg{
            width: 942px;
            margin-left: 255px;
            margin-right: 255px;
        }

        @include xl{
            width: 947px;
            margin-left: 255px;
            margin-right: 255px;
        }
    }
    
}