#gallery-reviews{

    .container{
        max-height:164px;
        overflow: hidden;

        @include md{
            max-height: 200px;
            overflow: hidden;   
        }

        @include lg{
            max-height:305px;
            overflow: hidden;
        }
      }
      img{
        width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include md{
            width: 800px;
        }

        @include lg{
            width: 1034px;
        }
    }
    h1{
        color: $BrowGrass;
        //margin-left: 16px;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;

        @include md{
            font-size: 60px;
            margin-left: 220px;
        }

        @include lg{
            margin-left: 260px;
        }

        @include xl{
            margin-left: 400px;
        }
    }

    #quotes{
        list-style-type: none;
        font-family: 'Lora', serif;
        
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: ". quotes .";

        grid-area: quotes;
        display: grid;
        gap: 30px;
        grid-template-areas: "MD";

       @include md{
            grid-template-areas: "MD MD"
            "AB CA";
            grid-template-columns: 300px 300px;
            margin-left: 150px;
        }

       @include lg{
            grid-template-areas: "MD AB CA";
            grid-template-columns: 300px 300px 300px;
            margin-left: 200px;
        }

       @include xl{
            grid-template-areas: "MD AB CA";
            grid-template-columns: 300px 300px 300px;
            margin-left: 320px;
        }

        #MD{
            grid-area: MD;
            background-color: $BlueLagoon;
            padding: 20px;
            color: white;
        }

        #AB{
            display: none;
            
            @include md{
                display: list-item;
                grid-area: AB;
                background-color: $BlueLagoon;
                padding: 20px;
                color: white;
            }
        }

        #CA{
            display: none;
            
            @include md{
                display: list-item;
                grid-area: CA;
                background-color: $BlueLagoon;
                padding: 20px;
                color: white;
            }  
        }

    }

    #Gallery-Images{
        list-style-type: none;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: ". Gallery-Images .";

        grid-area: Gallery-Images;
        display: grid;
        gap: 30px;
        grid-template-areas: "couple1";

        @include md{
            grid-template-areas: "couple2 Couple4"
                                 "ring1 couple4"
                                 "couple1 table1";
            grid-template-columns: 374px 374px;
        }

        @include lg{
            grid-template-areas: "table2 table2 couple2 couple2 couple4 couple4"
            "table2 table2 table1 ring1 couple4 couple4"
            "couple1 couple1 couple1 couple 1 couple4 couple4"
            "couple1 couple1 couple1 couple1 couple4 couple4";
            grid-template-columns: 342px 300px 342px;
        }

        @include xl{
            grid-template-areas: "table2 table2 couple2 couple2 couple4 couple4"
            "table2 table2 table1 ring1 couple4 couple4"
            "couple1 couple1 couple1 couple 1 couple4 couple4"
            "couple1 couple1 couple1 couple1 couple4 couple4"; 
            grid-template-columns: 390px 460px 550px;
        }

        #couple1{
            grid-area: couple1;
        }

        #couple2{
            display: none;
            @include md{
                display: list-item;
                grid-area: couple2;
            }
        }

        #couple4{
            display: none;
            @include md{
                display: list-item;
                grid-area: couple4;
            }
        }

        #ring1{
            display: none;
            @include md{
                display: list-item;
                grid-area: ring1;
            }
        }

        #table1{
            display: none;
            @include md{
                display: list-item;
                grid-area: table1;
            }
        }

        #table2{
            display: none;
            @include lg{
                display: list-item;
                grid-area: table2;
            }
        }

        img{
            width: 320px;

            @include md{
                width: 374px;
            }
        }
    }
}