#gallery-reviews{
    h1{
        color: $BrowGrass;
        margin-right: 89px;
        margin-left: 16px;
        font-family: 'Roboto', sans-serif;
    }

    #quotes{
        list-style-type: none;
        width: 400px;
        margin-left: 68px;
        margin-right: 68px;
        background: $BlueLagoon;
        padding: 20px;
        color: white;
        font-family: 'Lora', serif;;

       @include md{
            margin-left: 304px;
            margin-right: 53px; 
            width: 400px;  
       }

       @include lg{
            margin-left: 401px;
            margin-right: 40px; 
            width: 500px;
       }

       @include xl{
           margin-right: 202px;
           margin-left: 594px;
           width: 500px;
       }

    }

    #Gallery-Images{
        list-style-type: none;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". Gallery-Images .";

        grid-area: Gallery-Images;
        display: grid;
        gap: 30px;
        grid-template-areas: "couple1";

        @include md{
            grid-template-areas: "couple2 Couple4"
            "ring1 couple4"
            "couple1 table1";
            grid-template-columns: 374px 374px;
        }

        @include lg{
            grid-template-areas: "table2 couple2 couple4"
            "table2 table1 ring1 couple4"
            "couple1 couple1 couple4"
            "couple1 couple1 couple4";
            grid-template-columns: 342px 300px 342px;
        }

        @include xl{
            grid-template-areas: "table2 couple2 couple4"
            "table2 table1 ring1 couple4"
            "couple1 couple1 couple4"
            "couple1 couple1 couple4"; 
            grid-template-columns: 390px 460px 550px;

        #couple1{
            grid-area: couple1;
        }

        #couple2{
            display: none;
            @include md{
                display: list-item;
                grid-area: couple2;
            }
        }

        #couple4{
            display: none;
            @include md{
                display: list-item;
                grid-area: couple4;
            }
        }

        #ring1{
            display: none;
            @include lg{
                display: list-item;
                grid-area: ring1;
            }
        }

        #table1{
            display: none;
            @include md{
                display: list-item;
                grid-area: table1;
            }
        }

        #table2{
            display: none;
            @include lg{
                display: list-item;
                grid-area: table2;
            }
        }
    }
}