#hero{

    #sellingpoint{
        color: $Heyyyy;
        text-align: left;
        margin: auto;
        width: 290px;
        margin-top: 30px;
        font-family: 'Lora',serif;
        
        
        @include md{
            width: 492px;
            //margin-left: 138px;
            //margin-right: 138px;
        }
    
        @include lg{
            width: 620px;
            //margin-left: 195px;
            //margin-right: 195px;
        }   
    }

    img{
        width: 100%;
    
        @include md{
            //width: 768px;
        }
        
        @include lg{
            //width: 1024px;
        }
    
        @include xl{
            //width: 1440px;
        }
     }
}