#our-packages{

    .container{
        max-height:164px;
        overflow: hidden;

        @include md{
            max-height: 200px;
            overflow: hidden;   
        }

        @include lg{
            max-height:305px;
            overflow: hidden;
        }
      }
      img{
        width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include md{
            width: 800px;
        }

        @include lg{
            width: 1034px;
        }
    }

    #video{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include md{
          width: 620px; 
        }

        @include lg{
            width: 940px;
        }
    }

    h1{
        text-align: right;
        margin-left: 16px;
        color: $BrowGrass;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;

        @include md{
            text-align: right;
            margin-left: 20px;
            margin-right: 320px;
            font-size: 60px;
        }

        @include lg{
            text-align: right;
            margin-left: 168px;
            margin-right: 434px;
        }

        @include xl{
            text-align: right;
            margin-left: 370px;
            margin-right: 642px;
        }
    }


    #leaf{
        list-style-type: none;
        font-family: 'Lora', serif;
        display: block;
        margin-left: auto;
        margin-right: auto;

        display: grid;
        grid-template-columns: 420px;
        grid-template-areas: ". leaf .";

        grid-area: leaf;
        display: grid;
        gap: 30px;
        grid-template-areas: "leaf1"
        "leaf2"
        "leaf3"
        "leaf4"
        "leaf5";

        @include md{
            grid-template-areas: "leaf1 leaf4"
            "leaf2 leaf5"
            "leaf3";
            grid-template-columns: 420px 420px;
        }

        @include lg{
            grid-template-areas: "leaf1 leaf4"
            "leaf2 leaf5"
            "leaf3";
            grid-template-columns: 420px 420px;
        }

        @include xl{
            grid-template-areas: "leaf1 leaf4"
            "leaf2 leaf5"
            "leaf3";
            grid-template-columns: 420px 420px;
        }

        #leaf1{
            grid-area: leaf1;
            display: list-item;
            background: $MustySky;
            padding: 20px;
            color: white;
        }

        #leaf2{
            grid-area: leaf2;
            display: list-item;
            background: $MustySky;
            padding: 20px;
            color: white;
        }

        #leaf3{
            grid-area: leaf3;
            display: list-item;
            background: $MustySky;
            padding: 20px;
            color: white;
        }

        #leaf4{
            grid-area: leaf4;
            display: list-item;
            background: $MustySky;
            padding: 20px;
            color: white;
        }

        #leaf5{
            grid-area: leaf5;
            display: list-item;
            background: $MustySky;
            padding: 20px;
            color: white;
        }
    }
}