#wedding-consults{

    img{
        width: 320px;

        @include md{
            width: 311px;
        }

        @include lg{
            width: 422px;
        }

        @include xl{
            width: 630px;
        }
    }

    h1{
        text-align: left;
        margin-left: 97px;
        margin-right: 16px;
        color: $BrowGrass;
        font-family: 'Roboto', sans-serif;

        @include md{
            margin-left: 20px;
            margin-right: 320px;
        }

        @include lg{
            margin-left: 168px;
            margin-right: 434px;
        }

        @include xl{
            text-align: right;
            margin-left: 370px;
            margin-right: 642px;
        }
    }

    ul{
        list-style-type: none;
       width: 176px;
       //height: 386px;
       margin-left: 68px;
       margin-right: 68px;
       margin-bottom: 205px;
       background: $BlueLagoon;
       padding: 20px;
       color: white;
       font-family: 'Lora', serif;

       @include md{
        margin-left: 304px;
        margin-right: 53px; 
        width: 176px;
        height: 382px;  
       }

       @include lg{
         margin-left: 401px;
         margin-right: 40px; 
        width: 260px;
        height: 275px; 
       }

       @include xl{
           margin-right: 202px;
           margin-left: 594px;
           width: 300px;
           height: 250px;
       }

    }

    #forms-consults{
        margin-left: 16px;
        margin-right: 16px;
        column-count: 1;
        
        @include md{
            margin-left: 304px;
            margin-right: 53px;
        }

        @include lg{
            margin-left: 401px;
            margin-right: 40px;
        }

        @include xl{
            margin-right: 202px;
            margin-left: 594px;
        }
    } 
    
    #Sign-Up-Consults{
        color: $BrowGrass;
        margin-left: 16px;
        font-family: 'Lora', serif;
    }
}