#wedding-consults{

    .container{
        max-height:164px;
        overflow: hidden;

        @include md{
            max-height: 200px;
            overflow: hidden;   
        }

        @include lg{
            max-height:305px;
            overflow: hidden;
        }
      }
      img{
        width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include md{
            width: 800px;
        }

        @include lg{
            width: 1034px;
        }
    }


    h1{
        text-align: left;
        margin-left: 97px;
        margin-right: 16px;
        color: $BrowGrass;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;

        @include md{
            margin: 74px;
            font-size: 60px;
        }

        @include lg{
            margin-left: 168px;
            margin-right: 434px;
        }

        @include xl{
            text-align: right;
            margin-left: 370px;
            margin-right: 642px;
        }
    }

    ul{
        list-style-type: none;
       width: 291px;
       background: $BlueLagoon;
       padding: 20px;
       color: white;
       font-family: 'Lora', serif;

       display: block;
       margin-left: auto;
       margin-right: auto;
       

       @include md{ 
        width: 300px; 
       }

       @include lg{
        width: 381px; 
       }

       @include xl{
           width: 381px;
       }

    }

    #forms-consults{
        //margin-left: 16px;
        //argin-right: 16px;
        //column-count: 1;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        @include md{
            margin-left: 304px;
            margin-right: 53px;
        }

        @include lg{
            margin-left: 401px;
            margin-right: 40px;
        }

        @include xl{
            margin-right: 202px;
            margin-left: 594px;
        }
    } 
    
    #Sign-Up-Consults{
        color: $BrowGrass;
        margin-left: 16px;
        font-family: 'Lora', serif;
    }
}