#gallery-reviews{

    h1{
        color: $BrowGrass;
        margin-right: 89px;
        margin-left: 16px;
    }

    img{
        width: 321px;
        list-style-type: none;
        display: grid;
        gap: 30px;
        grid-template-areas: couple1;
 
        @include md{
            width: 373px;
        }
        
        @include lg{
            width: 503px;
        }
 
        @include xl{
            width: 711px;
        }
     }

    #quotes{
        list-style-type: none;
       width: 400px;
       margin-left: 68px;
       margin-right: 68px;
       background: $BlueLagoon;
       padding: 20px;
       color: white;

       @include md{
        margin-left: 304px;
        margin-right: 53px; 
        width: 400px;  
       }

       @include lg{
         margin-left: 401px;
         margin-right: 40px; 
        width: 500px;
       }

       @include xl{
           margin-right: 202px;
           margin-left: 594px;
           width: 500px;
       }

    }

    #gallery-Images{
        display: grid;
        gap: 30px;
        grid-template-columns: couple1;
    }
    
}
